* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
}
.navbar {
  top: 0;
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;

  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 30px;
}

.menu-items li {
  list-style: none;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0 14px;
  transition: transform 0.2s ease-in-out;
}
.menu-items li:hover {
  transform: scale(1.1);
}
.header-all {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content > ul {
  display: flex;
  list-style: none;
  margin: 25px;
}

.logo {
  margin: 25px;
  width: 32%;
}
.basket {
  width: 32px;
  height: 32px;
}

.link {
  color: black;
  text-decoration: none;
}
.div-link {
  width: 100%;
  height: 100%;
}
.basket-count {
  margin-left: 200px;
  padding-top: 20px;
}
.search-input {
  padding: 3px 10px;
  background-color: white;
  border: 0.5px solid rgb(115, 115, 115);
  font-size: 1.2rem;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 2px;
}
.search-input:focus {
  outline: none;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
  margin: 30px;
  margin-top: 90px;
}
.product {
  line-height: 1.4;
  cursor: pointer;

  padding: 20px;
  padding-bottom: 5px;
  transition: all 0.2s;
}
.product:hover {
  transform: scale(1.05);
}
.product-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin: 15px 0;
  margin-bottom: 25px;
}
.basket-main {
  margin-top: 120px;
}
.no-products {
  width: 100vw;
  font-size: 40px;
  text-align: center;
}
.div-no-products {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.sub-page {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.sub-image-product {
  display: flex;
  margin-top: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 80vh;
}
.sub-product-info {
  margin-top: 120px;
  width: 50%;
}
.sub-product-description {
  margin: 30px 0;
  line-height: 1.5;
  font-size: 1.1rem;
}
.sub-product-price {
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
}
.sub-home-icon {
  cursor: pointer;
  right: 5rem;
  top: 5rem;
  position: absolute;
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
}
.sub-home-icon > img {
  width: 50px;
  height: 50px;
}
.button-buy {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 50px;
  font-size: 1.5rem;
  width: 100%;
}
.button-buy:active {
  transform: translateY(4px);
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 7px;

  justify-content: center;
  align-items: center;
}
.basket-wraper {
  width: 100%;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 4fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 7px;
  line-height: 1.3;
  background-color: rgb(245, 244, 244);
  margin-bottom: 8px;
  height: 26vh;
}
.basket-img {
  margin: 20px;
  width: 60%;
}

.basket-pay-btn {
  width: 90%;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 5px 50px;
  font-size: 1.5rem;
}
.basket-pay-btn:active {
  transform: translateY(4px);
}
.total-price {
  width: 90%;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.div-paying {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-top: 300px;
}
.size-div {
  border: 1px solid rgb(58, 58, 58);
  text-align: center;
  padding: 5px 7px;
  width: 20%;
  transition: all 0.3s;
}
.size-div:hover {
  transform: scale(1.1);
}
.sub-sizes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.trash-can-icon {
  align-self: self-start;
  width: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.grid {
  margin: 30px 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.no-size-selected {
  margin-bottom: 20px;
  font-style: italic;
}
.relative {
  position: relative;
}
.num-items-basket {
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.alert-new-item {
  text-align: center;
  position: absolute;
  width: 60px;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 10px;
  bottom: 0;
  left: -13px;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.item-changed {
  width: 100px;
  left: -35px;
}
.background-blur {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}
.close-icon {
  background-color: transparent;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.pay-form {
  position: relative;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 25px;
  row-gap: 50px;
  background-color: white;
  padding: 20px;
  z-index: 10;
  box-shadow: 0px 0px 20px 1px gray;
  padding-top: 60px;
}
.form-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(85, 85, 85);
  font-size: 20px;
  width: 25vw;
}
.div-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.form-flex {
  display: flex;
  flex-direction: column;
}
.form-label {
  font-size: 16px;
  margin-bottom: 5px;
}
.div-submit p {
  text-align: center;
  margin-bottom: 10px;
}
.btn-submit {
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  main {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px;
    margin-top: 60px;
  }
  .logo {
    width: 130%;
    margin-left: 0;
  }
  .basket-count {
    margin-left: 20px;
  }
  .menu-items {
    margin-left: 50px;
  }
  .navbar-container {
    margin-left: 20px;
  }
  .grid {
    margin: 0;
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .basket-wraper {
    font-size: 1.2rem;
    gap: 2px;
    grid-template-columns: 4fr 0.3fr;
  }
  .basket-img {
    width: 60%;
    margin: 0 auto;
  }
  .close-icon {
    top: 80px;
    right: 25px;
  }
  .div-paying {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .button-buy {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 750px) {
  main {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    width: 100vw;
    margin-top: 60px;
  }
  .header-all {
    display: block;
  }
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 39px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  .product {
    border: none;
  }
  .product-img {
    /* height: 40vh; */
    max-height: 40vh;
    min-height: 20vh;
    background-size: contain;
  }
  .header-content > ul {
    margin: 10px;
  }
  .header-content {
    width: auto;
  }
  .header-content > ul > li {
    font-size: 1.25rem;
  }
  .search-input {
    display: none;
  }
  .basket-img {
    width: 90%;
    margin: 0 auto;
  }
  .product-title {
    text-align: center;
    font-size: 1rem;
  }
  .product-price {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .sub-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .sub-image-product {
    height: 65vh;
    width: 80vw;
  }
  .sub-product-info {
    width: 90%;
    margin-top: 10px;
  }
  .sub-home-icon {
    top: 0;
    right: 0;
  }
  .sub-product-rating {
    margin-bottom: 70px;
  }
  .logo {
    display: none;
  }
  .background-blur {
    display: none;
  }
  .pay-form {
    width: 100vw;
    height: 100vh;
    display: grid;

    gap: 0;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
  }
  .div-submit {
    width: 100%;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .form-input {
    width: 90%;
  }
}
@media only screen and (max-width: 550px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    margin: 5px;
    width: 100vw;
    margin-top: 60px;
  }
  .pay-form {
    grid-template-columns: 1fr;
  }
  .div-submit {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
